@page "/fetchdata"
@using FirstBlazorApp.Data;
@using Newtonsoft.Json;
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<label>Chose city</label>
<br />
<input type="text" @bind="@city"></input>
<button class="btn btn-primary" @onclick="getTemp">Get weather</button>

@if (forcast == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h1>Weather in @headerCity</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Wind speed. (m/s)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@date.ToShortDateString()</td>
                <td>@forcast.main.temp</td>
                <td>@forcast.wind.speed</td>
            </tr>
        </tbody>
    </table>
}

@code {
    private string headerCity = "london";
    private string city = "london";
    string APIKey = "d0dfd7b1eab21642c0cc7b5d80c1d551";

    public DateTime date = DateTime.Today.Date;
    private Forcast? forcast; 

    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {

        await getTemp();

    }

    private async Task getTemp()
    {
        try
        {
            city = city.Trim();
            forcast = await Http.GetFromJsonAsync<Forcast>($"weather?q={city}&units=metric&appid={APIKey}");
            headerCity = city;
        }
        catch (Exception ex)
        {
            city = headerCity;
            Console.WriteLine(ex.ToString());
        }
    }

    public class WeatherForecast
    {
        public DateTime Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
